@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Lexend", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --progress-width: 0;
  --buffered-width: 0;
}

body {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#tooltip-child {
  visibility: hidden;
}

#tooltip:hover * {
  visibility: visible;
}

#volume {
  display: flex;
  flex-direction: reverse;
  gap: 1px;
}

#volume:hover {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: gray;
  border-radius: 12px;
}

#volume:hover * {
  display: flex;
}

.progress-bar::-webkit-slider-thumb {
  z-index: 4;
  position: relative;
}
.progress-bar::before {
  transform: scaleX(var(--progress-width));
  z-index: 3;
}
.progress-bar::after {
  transform: scaleX(var(--buffered-width));
  transform-origin: left;
  z-index: 2;
}

.glass-effect {
  background: rgba(0, 0, 0, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

.scrollbar {
  scrollbar-color: #2e343d transparent;
  scrollbar-width: thin;
}
.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}
.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  opacity: 0;
}
.scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #2e343d;
  opacity: 1;
}

#ReactSimpleImageViewer {
  z-index: 99;
}
#ReactSimpleImageViewer .react-simple-image-viewer__close {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #2e343d;
  font-size: 34px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  padding-bottom: 10px;
}